[submodule "vite-vue-template-sky"]
	path = vite-vue-template-sky
	url = https://github.com/skyclouds2001/vite-vue-template-sky
[submodule "vite-react-template-sky"]
	path = vite-react-template-sky
	url = https://github.com/skyclouds2001/vite-react-template-sky
